
@import "bootstrap";
@import "bootstrap-compass";
@import "bootstrap-mincer";
@import "bootstrap-sprockets";
@import 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Lobster|Merriweather:300,300i,400,400i,700,700i,900,900i';
@import "../fonts/font-awesome/css/font-awesome.css";
@import "../css/dashboard.css";

/*
*  #-----------#
*    Variaveis
*  #-----------#
*/

/*
-
    Colors
-
*/

/* Primary */
$primary-color: #0861ec;
$primary-color-dark: #2071ff;
$primary-color-font: #556285;
$primary-color-font-body: $primary-color-font;
$primary-color-font-title: #0e131f;
$primary-color-font-subtitle: #687c99;
$primary-color-bg: #fff;
$primary-color-caret-bg: #d6dae3;
$primary-color-caret-color: #737a89;
$primary-color-caret-border: #fff;
$primary-color-divisor: #e5e5ee;

/* Secondary */
$secondary-color: #fff;

/* Three */
$three-color: #0e131f;
$three-color-font: #fff;
$three-color-font-two: #9da7c2;
$three-color-bg: $three-color;
$three-color-bg-two: #181e2e;

/* Fourth */
$fourth-color: #080c16;
$fourth-color-font: #b5bed3;
$fourth-color-font-body: $fourth-color-font;
$fourth-color-font-title: #fff;
$fourth-color-line: #181e2e;

/* Rainbow */
$rainbow-red: #d8404f;
$rainbow-blue: #3165b2;
$rainbow-green: #31af84;
$rainbow-red-dark: #ff3346;
$rainbow-blue-dark: #0060ec;
$rainbow-white: #fff;
$rainbow-gray-light: #f1f1f1;

/*
-
    Fonts
-
*/

/* Primary */
$primary-font-family: 'Lato', sans-serif;
$primary-font-size: 16px;
$primary-font-small: $primary-font-size - 2px;
$primary-font-medium: $primary-font-size + 2px;
$primary-font-high: $primary-font-size + 4px;
$primary-font-highest: $primary-font-size + 6px;

/* Secondary */
$secondary-font-family: 'Lobster', sans-serif;

/* Three */
$three-font-family: 'Merriweather', sans-serif;

/*
-
    General
-
*/


html, body, #site {
    font-family: $primary-font-family;
    font-size: $primary-font-size;
    background-color: $primary-color-bg;
}

.table {
    display: table;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}

.table2 {
    display: table;
    margin-bottom: 0;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.inline-block {
    display: inline-block;
}

.btn-search {
    outline: none;
    background: transparent;
    border: none;
    box-shadow: none;
    color: $three-color-font-two;
}

.btn-search:hover {
    color: $primary-color-dark;
}

.btn-search:focus, .btn-search:active, .btn-search:active:focus {
    box-shadow: none;
    outline: none;
    color: $primary-color-dark;
}

/*
-
    Header
-
*/

#header {
    height: 60px;
    background-color: $three-color-bg;
    color: $three-color-font;



    a {
        color: $primary-color-dark;
        transition: 0.4s all;
    }

    a:hover {
        color: $three-color-font;
        text-decoration: none;
    }

}

#logo {

    height: 100%;

    a {
        color: $three-color-font;
    }

    a:hover {
        color: $three-color-font-two;
        text-decoration: none;
    }

    .logo-title {
        font-family: $secondary-font-family;
        font-size: $primary-font-highest;
    }

    .logo-desc {
        font-style: italic;
        font-family: $three-font-family;
        font-size: $primary-font-small - 1px;
        font-weight: 300;
    }

    .logo-desc:before {
        content: "/";
        padding-right: 8px;
    }

}

#breadcrumb {

    height: 60px;

    .breadcrumb {
        background: transparent;
        color: $primary-color-dark;
    }

    .breadcrumb > .active {
        color: $primary-color-dark;
    }

    .breadcrumb > li + li:before {
        color: $primary-color-dark;
    }

}

#search {

    ::-webkit-input-placeholder  { color: $three-color-font-two; }
    input:-moz-placeholder { color: $three-color-font-two; }
    textarea:-moz-placeholder { color: $three-color-font-two; }

    height: 60px;

    .form-group {
        margin-bottom: 0;
    }

    .search {
        position: relative;
    }

    input.search-input {
        padding-left: 40px;
        background: $three-color-bg-two;
        border: 2px solid $three-color-bg-two;
        color: lighten($three-color-bg, 32%);;
        border-radius: 20px;
        outline: none;
        box-shadow: none;
        transition: 0.8s all;
    }

    input.search-input:focus, input.search-input:active, input.search-input:active:focus {
        color: $primary-color-dark;
        border-color: $primary-color-dark;
    }

    input.search-input:focus ~ button.btn-search,
    input.search-input:active ~ button.btn-search,
    input.search-input:active:focus ~ button.btn-search {
        color: $primary-color-dark;
        border-color: $primary-color-dark;
    }

    button.btn-search {
        transition: 0.8s all;
        position: absolute;
        top: 0;
        left: 6px;
    }

}

#profile {

    height: 60px;

    .notifications, .chats {
        position: relative;
    }

    .item {
        display: block;
        float: right;
        padding: 10px 14px;
    }

    .item + .item {
        padding-left: 0;
    }

    .item.info .toggle > a {
        display: block;
        color: $three-color-font-two;
        height: 36px;
        width: 36px;
        line-height: 32px;
        text-align: center;
        border-radius: 36px;
        margin: 0;
        position: relative;
        cursor: pointer;
    }

    .item.info .toggle > a.collapsed {
        background: $three-color-bg-two;
    }

    .item.info .toggle > a,
    .item.info .toggle > a:hover {
        background: $three-color-font;
    }

    .balloon a {
        color: $primary-color-caret-color;
    }

    .balloon a:hover {
        color: $primary-color-dark;
    }

    .profile-name {
        font-weight: 700;
    }

    .profile-link {
        font-size: $primary-font-small;
    }

    .avatar a img {
        width: 40px;
        height: 40px;
        transition: 1s all;
        border-radius: 40px;
    }

    .avatar a img:hover {
        filter:contrast(120%) brightness(120%);
        -webkit-filter:contrast(120%) brightness(120%);
    }

    .badge:empty {
        display: block;
    }

    .badge {
        background-color: $rainbow-red-dark;
        width: 12px;
        height: 12px;
        position: absolute;
        padding: 0;
        bottom: 0;
        right: 0;
    }

}

/*
-
    Sidebar
-
*/

.sidebar {
    background-color: $fourth-color;
}

@media screen and (min-width: 768px) {

    .sidebar {
        position: fixed;
        top: 60px;
    }

}

#sidebar {
    padding-bottom: 60px + ($grid-gutter-width/2);

    .side {
        position: relative;
    }

    .side .title {
        text-transform: uppercase;
        color: $fourth-color-font-title;
        font-weight: 900;
        padding: 12px 0;
        margin-bottom: 12px;
        border-bottom: 1px solid $fourth-color-line;
        cursor: pointer;
    }

    .side .title .icon ~ .text {
        padding-left: 8px;
    }

    .side .navbar-nav {
        float: none;
    }

    .side .navbar-nav li {
        display: block;
        float: none;
    }

    .side .navbar-nav li a {
        display: block;
        width: 100%;
        color: $fourth-color-font-body;
        transition: 0.6s all;
        padding: 8px 0;
    }

    .side .navbar-nav li a:hover {
        color: $primary-color-dark;
    }

    .side .navbar-nav li i {
        color: $primary-color-dark;
        padding-right: 8px;
    }

    .navbar {
        background: transparent;
        border: none;
        min-height: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .navbar-collapse {
        border: none;
        padding: 0;
    }

    .navbar-nav li {
        padding: 0;
    }

    .navbar-nav li a {
        padding: 16px 0;
        color: $fourth-color-font-body;
    }

    @media screen and (min-width: 768px) {

        .navbar-collapse.collapse {
            display: none !important;
            height: auto !important;
            padding-bottom: 0;
            overflow: visible !important;
        }

        .navbar-collapse.collapse.in {
            display: block !important;
        }

    }

    *, & {
        transition: 0.4s all;
    }

    &.toggledside {
        width: 80px;

        &.sidebar {
            overflow: inherit;
        }

        .title .text {
            display: none;
        }

        i {
            font-size: $primary-font-size*2;
            text-align: center;
            padding: 0;
        }

        .side {
            margin-left: -($grid-gutter-width/2);
            margin-right: -($grid-gutter-width/2);

            .title {
                text-align: center;
            }

            &:hover > .title ~ .navbar {
                display: block;
            }

            &:hover > .title {
                background-color: $fourth-color-line;
            }

        }

        .side > .navbar {
            display:none;
            position: absolute;
            top: 0;
            left: 79px;
            background: lighten($fourth-color,12%);
            min-width: 220px;
            border-radius: 0;
            padding: 8px 16px;
            font-size: $primary-font-size;

            i {
                font-size: $primary-font-size;
            }

            a {
                padding: 6px 8px;
                border-bottom: 1px solid rgba(lighten($fourth-color,40%),0.16);
                transition: 0.2s all;

                &:hover {
                    border-bottom-color: rgba(lighten($fourth-color,40%),0.6);
                }

            }

        }

    }

}

#sidebar #hidemenu {
    position: absolute;
}

#hidemenu {
    width: 100%;
    background: lighten($fourth-color,6%);
    text-align: center;
    position: absolute;
    bottom: 0;

    .hidemenu {
        height: 60px;
        width: 100%;
        padding: 12px;
    }

    i {
        font-size: $primary-font-size*2;
        display: inline-block;
        vertical-align: middle;
    }

    a {
        cursor: pointer;
        color: lighten($fourth-color,32%);
    }

    a.toggledside i:before {
        content: "\f205";
    }

    a .link {
        display: inline-block;
        vertical-align: middle;
        line-height: $primary-font-size*2;
        margin-left: 8px;
    }

    .toggledside {

        .link {
            display: none;
        }

    }

}

#site .container-fluid.toggledside {
    margin-left: 80px;
}

#site {

    *, & {
        transition: 0.4s all;
    }

}

/*
-
    toggle
-
*/

.toggle {

    position: relative;

    .balloon.right {
        right: 0;
    }

    .ballon.left {
        left: 0;
    }

    .balloon {
        position: absolute;
        top: 40px;
        z-index: 10;
        background: lighten($primary-color-caret-bg,6%);
        color: $primary-color-caret-color;
        padding: 6px 8px;
        border-radius: 8px;

        a {
            display: block;
            font-size: $primary-font-small;
            color: $primary-color-caret-color;
            padding: 0 4px;
        }

        a:hover, a.active {
            color: $primary-color;
            text-decoration: none;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        ul li {
            padding: 6px 0;
            margin: 0;
            border-bottom: 1px solid $primary-color-caret-bg;
            min-width: 160px;
        }

        ul li:last-child {
            border-bottom: 0;
        }

    }

}

/*
-
    Page Header
-
*/

#page-header {

}

#header-relatorio {

    .info {
        font-size: $primary-font-small;
        color: $primary-color-font-subtitle;
        font-style: italic;
    }

    .title {
        display: inline-block;
        color: $primary-color-font-title;
        font-size: $primary-font-size*2;
        font-weight: 900;
        line-height: 1;
    }

    .relatorio-button, .relatorio .title {
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }

    .relatorio-button #relatorio-collapse {
        position: absolute;
        top: 32px;
        left: 0;
        z-index: 10;
        background: lighten($primary-color-caret-bg,6%);
        color: $primary-color-caret-color;
        padding: 6px 8px;
        border-radius: 8px;

        a {
            display: block;
            font-size: $primary-font-small;
            color: $primary-color-caret-color;
            padding: 0 4px;
        }

        a:hover, a.active {
            color: $primary-color;
            text-decoration: none;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        ul li {
            padding: 6px 0;
            margin: 0;
            border-bottom: 1px solid $primary-color-caret-bg;
            min-width: 160px;
        }

        ul li:last-child {
            border-bottom: 0;
        }

    }

    .btn-caret {
        outline: none;
        box-shadow: none;
        width: 16px;
        height: 16px;
        font-size: 12px;
        padding: 0;
        margin: 0;
        border-radius: 12px;
    }

}

.btn-caret {
    @include button-variant($primary-color-caret-color, $primary-color-caret-bg, $primary-color-caret-border);
        outline: none;
        box-shadow: none;
}

#header-reference {

    .reference {
        color: $primary-color-font-title;
        font-size: $primary-font-size*2;
        font-weight: 900;
        line-height: 1.2;
    }

    .reference-before,
    .reference-after,
    .separator {
        display: inline-block;
        font-weight: 700;
        font-style: italic;
        color: $primary-color-font-subtitle;
        vertical-align: middle;

        a {
            color: $primary-color-font-subtitle;
        }

        a:hover {
            color: $primary-color;
            text-decoration: none;
        }

    }

    .separator {
        width: 2px;
        height: 12px;
        background-color: $primary-color-font-subtitle;
        margin: 0 4px;
    }

}

#header-data {

    .info {
        font-size: $primary-font-small;
        color: $primary-color-font-subtitle;
        font-style: italic;
    }

    .data {

        padding-top: 6px;

        .item {
            display: inline-block;
            padding: 4px 12px;
            background: lighten($primary-color-caret-bg,8%);
            border-radius: 24px;
            color: $primary-color-font-title;
            font-weight: 900;
            font-style: italic;
            font-size: $primary-font-small;
        }

        .separator {
            display: inline-block;
            font-weight: 900;
        }

    }

}

/*
-
    Section
-
*/

.section {
    margin-top: 40px;

    .section-item > .title {
        margin-top: 30px;

        .head, .entry {
            float: left;
        }

        .entry {
            padding-left: 30px;

            .tab {
                float: left;
                padding-right: 16px;
            }

            .tab a {
                font-size: 13px;
                font-style: italic;
                font-weight: 500;
                color: $primary-color-font-body;
            }

            .tab:hover a,
            .tab.active a {
                text-decoration: none;
                color: $primary-color;
            }

            .tab:before {
                content: '';
                display: inline-block;
                background: $primary-color-font-body;
                width: 6px;
                height: 6px;
                border-radius: 8px;
                margin-right: 6px;
            }

            .tab:hover:before {
                background: $primary-color;
            }

        }

    }

    .title {
        font-size: $primary-font-size;
        font-weight: 700;
        color: $primary-color-font;
        padding-bottom: 12px;
        position: relative;
    }

    .configs {
        position: absolute;
        opacity: 0.2;
        top: 0;
        right: 0;
        z-index: 8;
        transition: 1s all;
    }

    .configs:hover {
        opacity: 1;
    }

    .config {
        display: inline-block;
        padding: 0 6px;

        a {
            color: $primary-color-caret-color;
        }

        a:hover {
            color: darken($primary-color-caret-color,40%);
        }

    }

    .content {
        color: $primary-color-font-body;
        background: $rainbow-white;
        padding: 20px;

        .icon {
            font-size: $primary-font-size*4;
            line-height: 1;
        }

        .title {

        }

        .statistic-high {
            font-size: $primary-font-size*2;
            font-weight: 900;
        }

        .statistic-low .statistic-star, .statistic-low .statistic-level {
            display: inline-block;
            padding-left: 16px;
        }

        .statistic-low .statistic-star i, .statistic-low .statistic-level i {
            padding-right: 6px;
        }

    }

    /* Colors */

    .content.red {
        background: $rainbow-red;
        color: $rainbow-white;
    }

    .content.blue {
        background: $rainbow-blue;
        color: $rainbow-white;
    }

    .content.green {
        background: $rainbow-green;
        color: $rainbow-white;
    }

    .content.gray-light {
        background: $rainbow-gray-light;
        color: $primary-color-font;
    }

    /* Fixed Height */

    .content.hvw {
        height: 14vw;
    }

    .hvw-xs-14 {
        height: 14vw;
    }

    .hvw-xs-28 {
        height: 28vw;
    }

    @media screen and (min-width: $screen-sm) {

        .hvw-sm-20 {
            height: 20vw;
        }

    }

    @media screen and (min-width: $screen-md) {

        .hvw-md-18 {
            height: 18vw;
        }

    }

    @media screen and (min-width: $screen-lg) {

        .hvw-lg-18 {
            height: 18vw;
        }

    }

}

.divisor {
    padding: 0 ($grid-gutter-width/2);
    margin-bottom: $grid-gutter-width;
}

.divisor:before {
    content: "";
    display: block;
    background: $primary-color-divisor;
    width: 100%;
    height: 1px;
}

.divisor.blue:before {
    background-color: $primary-color;
}

.divisor2x:before {
    height: 2px;
}

.section:last-of-type {
    margin-bottom: 40px;
}

.content .chart canvas {
    display: inline-block !important;
    width: 100% !important;
    max-width: 100% !important;
    height: 400px !important;
}

/*
-
    Home
-
*/

#section-visualizacao {

}

/*
-
    Live - Online
-
*/

.online-live {

    .live-side {
        width: 50%;
        padding: 20px;
    }

    .live-left {
        border-right: 1px solid darken($rainbow-gray-light,6%);
    }

    .number {
        font-size: $primary-font-size*2;
        font-weight: 900;
        color: $primary-color;
    }

    .live-ativo {

        .number {
            font-size: $primary-font-size*4;
        }

    }

    .live-inline {
        margin: 6px 0;
    }

}

/*
-
    Informações dos Usuários
-
*/

.users-info {
    color: $primary-color-font;
    overflow: auto;
    height: 100%;

    a {
        color: $primary-color-font;
    }

    .info-item {
        border-bottom: 1px solid darken($rainbow-gray-light,12%);
        padding: 8px 0;
    }

    .info-user, .info-user a {
        font-weight: 700;
        color: $primary-color-font;
    }

    .info-inline {
        display: inline-block;
        margin-left: 20px;
    }

    .info-inline:first-of-type {
        margin-left: 0;
    }

    .info-inline i {
        margin-right: 8px;
    }

    .info-link a {
        color: $primary-color;
    }

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
    &::-webkit-scrollbar-button {
      width: 0px;
      height: 0px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(darken($primary-color,20%),0.6);
      border: 0px none #ffffff;
      border-radius: 50px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: $primary-color;
    }
    &::-webkit-scrollbar-thumb:active {
      background: $primary-color;
    }
    &::-webkit-scrollbar-track {
      background: #c8c8c8;
      border: 0px none $primary-color;
      border-radius: 50px;
    }
    &::-webkit-scrollbar-track:hover {
      background: #c8c8c8;
    }
    &::-webkit-scrollbar-track:active {
      background: #c8c8c8;
    }
    &::-webkit-scrollbar-corner {
      background: transparent;
    }

}
