
@import "bootstrap";
@import "bootstrap-compass";
@import "bootstrap-mincer";
@import "bootstrap-sprockets";
@import 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Lobster|Merriweather:300,300i,400,400i,700,700i,900,900i';
@import "../fonts/font-awesome/css/font-awesome.css";
@import "../css/dashboard.css";

/* Primary */
$primary-color: #0861ec;
$primary-color-dark: #2071ff;
$primary-color-font: #556285;
$primary-color-font-body: $primary-color-font;
$primary-color-font-title: #0e131f;
$primary-color-font-subtitle: #687c99;
$primary-color-bg: #fff;
$primary-color-caret-bg: #d6dae3;
$primary-color-caret-color: #737a89;
$primary-color-caret-border: #fff;
$primary-color-divisor: #e5e5ee;

/* Secondary */
$secondary-color: #fff;

/* Three */
$three-color: #0e131f;
$three-color-font: #fff;
$three-color-font-two: #9da7c2;
$three-color-bg: $three-color;
$three-color-bg-two: #181e2e;

/* Fourth */
$fourth-color: #080c16;
$fourth-color-font: #b5bed3;
$fourth-color-font-body: $fourth-color-font;
$fourth-color-font-title: #fff;
$fourth-color-line: #181e2e;

/* Rainbow */
$rainbow-red: #d8404f;
$rainbow-blue: #3165b2;
$rainbow-green: #31af84;
$rainbow-red-dark: #ff3346;
$rainbow-blue-dark: #0060ec;
$rainbow-white: #fff;
$rainbow-gray-light: #f1f1f1;

/*
-
    Fonts
-
*/

/* Primary */
$primary-font-family: 'Lato', sans-serif;
$primary-font-size: 16px;
$primary-font-small: $primary-font-size - 2px;
$primary-font-medium: $primary-font-size + 2px;
$primary-font-high: $primary-font-size + 4px;
$primary-font-highest: $primary-font-size + 6px;

/* Secondary */
$secondary-font-family: 'Lobster', sans-serif;

/* Three */
$three-font-family: 'Merriweather', sans-serif;

.page-login {
    padding-top: 0;
    height: 100vh;
    width: 100vw;
    background: $three-color;

    background-image: -moz-linear-gradient( 135deg, rgb(14,19,31) 0%, rgb(38,49,75) 60%, rgb(14,19,31) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgb(14,19,31) 0%, rgb(38,49,75) 60%, rgb(14,19,31) 100%);
    background-image: -ms-linear-gradient( 135deg, rgb(14,19,31) 0%, rgb(38,49,75) 60%, rgb(14,19,31) 100%);
    color: $three-color-font;
}

#login-box {
    margin-top: 20vh;
    margin-bottom: 20vh;
    .head {
        .title {
            font-size: 48px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 2px;
        }
        .subtitle {
            color: $primary-color-font;
        }
    }
    .box {
        border-radius: $grid-gutter-width*0.8;
        padding: $grid-gutter-width*1.2 $grid-gutter-width;
        margin: $grid-gutter-width 0;
        background: #fff;
        .form-group {
            .input-group {
                .input-group-addon {
                    border-radius: 10px 0 0 10px;
                    background: lighten($three-color-font-two, 26%);
                    border: 2px solid lighten($three-color-font-two, 20%);
                    box-shadow: none;
                    color: $primary-color-font;
                }
                input.form-control {
                    border-radius: 0 10px 10px 0;
                    background: lighten($three-color-font-two, 26%);
                    border: 2px solid lighten($three-color-font-two, 20%);
                    border-left: none;
                    box-shadow: none;
                    padding: $grid-gutter-width*0.6;
                    color: $primary-color-font;
                    font-size: 16px;
                    font-weight: 700;
                    transition: 0.4s all;

                    &:focus {
                        color: $primary-color;
                    }

                    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        color: $primary-color-font;
                    }
                    &::-moz-placeholder { /* Firefox 19+ */
                        color: $primary-color-font;
                    }
                    &:-ms-input-placeholder { /* IE 10+ */
                        color: $primary-color-font;
                    }
                    &:-moz-placeholder { /* Firefox 18- */
                        color: $primary-color-font;
                    }
                }
            }
        }
    }
}

.btn-login {
    @include button-variant(#fff, $primary-color, $primary-color);
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 8px;
}
